.body {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 3rem;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(118.91deg, #0095FF -14.73%, #5D5FEF 84.29%);
    padding: 6rem;
    gap: 16px;
}

.hero h1 {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 550;
    font-size: 2.5rem;
    line-height: 110%;
    text-align: center;
    color: white;
    margin: 0px;
}

.hero p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.6);
    margin: 0px;
}

.blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}