.pricecard {
    display: flex;
    width: 16rem;
    height: auto;
    padding: 1.2rem;
    background: linear-gradient(339.43deg, #243AFF -54.24%, #000000 74.28%), #000000;
    color: white;
    border-radius: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .pricecard:hover {
    box-shadow: 0px -16px 150px rgba(36, 58, 255, 0.43);
  }
   
  .title {
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 1;
    font-family: 'poppins';
    font-style: normal;
    letter-spacing: -2px;
    color: #FFFFFF;
    margin: 0px;
  }
  
  .subtitle {
    color: #aaa;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'poppins';
    margin: 0;
  }
  
  .text {
    color: #FFFFFF !important;
    font-family: 'poppins';
    font-size: 1rem !important;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
  }
  